@font-face {
font-family: "NexaXBold";
src: local("NexaXBold"),
 url("../fonts/NexaXBold.otf") format("truetype");
font-weight: bold;
}
@font-face {
font-family: "NexaBook";
src: local("NexaBook"),
 url("../fonts/NexaBook.otf") format("truetype");
font-weight: bold;
}
@font-face {
font-family: "NexaBold";
src: local("NexaBold"),
 url("../fonts/NexaBold.otf") format("truetype");
font-weight: bold;
}
.ff-nexab {
 font-family: "NexaBold";
}
.ff-nexabd {
 font-family: "NexaXBold";
}
.ff-nexabk {
 font-family: "NexaBook";
}
.tx-20{
  font-size: 20px;
}

.c-w{
  color:white;
}
.tx-color{
  color:#003755;
}
.m0{
  margin: 0px;
}
.bk-primary{
  background-color: #003755;
}
.btn-primary{
  background-color: #003755;
  border-color:transparent;
  border-radius: 10px;
}
.input-login{
  font-family: "NexaBook";
  border:none;
  margin-top: 15px;
  padding: 15px;
  height: 45px;
  border-radius: 8px;
  background-color: #f1f1f1;
  color: #003755;
}
.tx-11{
  font-size: 11px;
}
.shadowbox{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.p-r{
  position: relative;
}
.icon-input{
  position: absolute;
  right: 10px;
  top: 10px;
}

.header-home{
  background-color: #e6e6e6;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  padding-bottom: 0px !important;
}
.icon-header{
  margin: 10px;
}
.logo-header{
  background-color: #ff832a;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxcart{
  background-color:#f7c300;
  padding:10px 40px;
}
.breadcrumb a{
  padding-right: 10px;
}
.margin-vert-20{
  margin-top: 20px;
  margin-bottom: 20px;
}

.boxproduct{
  display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.sidebar{
  background-color: #b3dcd4;
    padding: 18px;
    border-radius: 10px;
}
.num-cart{
    position: absolute;
    background: white;
    color: #f7c300;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    font-size: 12px;
}
.boxcart-shop{
  position: absolute;
  right: 0px;
  background: white;
  top: 70px;
  padding: 5px;
  z-index: 10;
  width: 350px;
  border-bottom-left-radius: 10px;
}
/* card */

.container .card-prod{
  position: relative;
  width: 260px;
  height: 300px;
  /* background: #232323; */
  border-radius: 20px;
  overflow: hidden;
 }
 .container-card .card-prod:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
 }
 .container-card .card-prod:hover:before{
  clip-path: circle(300px at 80% -20%);
 }
 /* .container-card .card-prod:after{
  content: 'Nike';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
 } */
 .container-card .card-prod .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* z-index: 10000; */
  width: 100%;
  height: 220px;
  transition: 0.5s;
 }
 .container-card .card-prod:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
 }
 .container-card .card-prod .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-0deg);
  width: 270px;
 }
 .container-card .card-prod .contentBx{
  position: absolute;
  bottom: -74px;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
 }
 .container-card .card-prod:hover .contentBx{
  height: 210px;
 }
 .container-card .card-prod .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  /* color: #fff; */
  margin: 0;
 }
 .container-card .card-prod .contentBx .price-prod, .container-card .card-prod .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
 }
 .container-card .card-prod:hover .contentBx .price-prod{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
 }
 .container-card .card-prod:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
 }
 .container-card .card-prod .contentBx .price-prod h3, .container-card .card-prod .contentBx .color h3{
  /* color: #fff; */
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
 }
 .container-card .card-prod .contentBx .price-prod span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
 }

 .container-card .card-prod .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
 }

 .container-card .card-prod .contentBx .color span:nth-child(3){
  background: #03a9f4;
 }
 .container-card .card-prod .contentBx .color span:nth-child(4){
  background: #e91e63;
 }
 .container-card .card-prod .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
 }
 .container-card .card-prod:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
 }
